﻿/*#region Roboto */
@font-face {
	font-family: 'Roboto';
	src: url('fonts/roboto.ttf'), url('fonts/roboto.woff');
}

@font-face{
  font-family: 'Roboto';
  src: url('fonts/robotobold.ttf'), url('fonts/robotobold.woff');
  font-weight:bold;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Black.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Roboto-Black.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Roboto-Black.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Roboto-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Roboto-Black.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Roboto-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 900;
}
/*#endregion */

/*#region SVN Avo */
@font-face {
  font-family: 'SvnAvo';
  src: url('fonts/SVN-Avo.ttf'), url('fonts/SVN-Avo.woff');
}

@font-face {
  font-family: 'SvnAvo';
  src: url('fonts/SVN-Avo bold.ttf'), url('fonts/SVN-Avobold.woff');
	font-weight: bold;
}

@font-face {
  font-family: 'SvnAvo';
  src: url('fonts/SVN-Avo italic.ttf'), url('fonts/SVN-Avoitalic.woff');
	font-weight: 100;
}
/*#endregion */

/*#region SVN Helvetica Neue */
@font-face {
  font-family: 'SvnHelveticaNeue';
  src: url('fonts/SVN-Helvetica Neue Regular.ttf'), url('fonts/SVN-HelveticaNeueRegular.woff');
}

@font-face {
  font-family: 'SvnHelveticaNeue';
  src: url('fonts/SVN-Helvetica Neue Bold.ttf'), url('fonts/SVN-HelveticaNeueBold.woff');
	font-weight: bold;
}
/*#endregion */

/*#region Gotham */
@font-face {
  font-family: 'SvnGotham';
  src: url('fonts/SVN-Gotham Bold.ttf'), url('fonts/SVN-GothamBold.woff');
	font-weight: bold;
}