﻿// css chung
.general {
	&__header {
		text-align: center;
		padding: 55px 0 30px;
		a {
			color: $color-orange-primary;
			font-size: 30px;
			font-family: $font-02;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		p {
			color: #333;
			margin-bottom: 0;
			max-width: 680px;
			margin: auto;
		}
		&--white {
			a { color: #fff }
			p { color: #fff }
		}
	}
	
	&__more {
		background-color: $color-orange-primary;
		border-radius: 3px;
		color: #fff;	
		padding: 8px 22px;
		@include transition(.3s);
		&:hover {
			background-color: $color-orange-fade;
			color: #fff;
		}
	}

	&__saw {
		&--top:before {
			content: '';
			background: url(images/rang-cua.png) repeat-x;
			position: absolute;
			top: -6px;
			height: 10px;
			width: 100%;
		}
		&--bottom:after {
			content: '';
			background: url(images/rang-cua.png) repeat-x;
			position: absolute;
			bottom: -6px;
			height: 10px;
			width: 100%;
			transform: rotate(180deg);
		}
	}

	&__breadcrumb { 
		background-color: #f6f6f6; 
		padding: 23px 0 12px;
		a { 
			color: #333; padding-right: 30px; position: relative;
			&:before {
				content: '\f0da';
				font-family: FontAwesome;
				position: absolute;
				right: 10px;
				color: $color-orange-primary;
			}
			&:last-child:before { content: '' }
		}
	}

	&__h2 {
		font-family: $font-03;
		font-size: 30px;
		color: $color-orange-primary;
		padding: 35px 0 5px;
		&--white { font-size: 25px; color: #fff; padding: 35px 0 15px }
	}

	&__back {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
    padding: 8px 0;
		&--left {
			i { font-size: 12px; color: #999 }
			a { font-size: 13px; color: #999; margin-right: 20px }
		}
	}

	&__post {
		margin-bottom: 30px;
		.imgcw:before { padding-bottom: 67.02% }
		&--top {
			position: absolute;
			display: flex;
			justify-content: space-between;
			bottom: 0;
			width: 100%;
			padding: 8px 15px;
			z-index: 99;
			p { color: #fff; margin-bottom: 0 }
			b { font-size: 18px }
		}
		&--block { 
			padding: 26px 18px; 
			background-color: #f6f6f6;
			border-left: 1px solid #d9d9d9;
			border-right: 1px solid #d9d9d9;
			p { color: $color-gray-primary; margin: 15px 0 0 }
		}
		&--title { font-weight: bold; font-size: 20px; color: #333; line-height: 40px; max-height: 40px; overflow: hidden; display: block }
		&--ds b { color: $color-orange-primary; padding-right: 30px }
		&--btn {    
			line-height: 45px;
			width: 50%;
			text-align: center;
			font-weight: bold;
			color: #333;
			border: 1px solid #d9d9d9;
			@include transition(.3s);
			i { padding-left: 16px }
			&:hover { background-color: $color-orange-primary; color: #fff }
		}
	}

	&__pagination {
		margin: 18px 0 75px;
		display: flex;
		justify-content: center;
		align-items: center;
		ul { display: flex; padding: 0; flex-wrap: wrap; justify-content: center }
		li { 
			font-size: 15px;
			color: $color-gray-fade; 
			text-align: center; 
			padding: 0 10px;
			border: 1px solid #d7d7d7;
			@include transition(.3s);
			margin: 0 3px 15px;
			line-height: 30px;
			cursor: pointer;
			&:hover { background-color: $color-orange-primary; color: #fff }
		}
	}

}
