﻿@mixin transition($time) {
  -webkit-transition: all $time ease;
  transition: all $time ease;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
