﻿body {
	font-family: 'Roboto';
	font-size: 16px;
	color: #333;
}

a {
	text-decoration: none!important;
	&:hover {
		color: inherit;
	}
}

img {
	width: 100%;
}

ul {
  list-style-type: none;
}

*:focus {
	outline: none!important;
}