﻿/*#region Roboto */
@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto.ttf"), url("fonts/roboto.woff"); }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/robotobold.ttf"), url("fonts/robotobold.woff");
  font-weight: bold; }

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Black.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Black.otf") format("opentype"), url("fonts/Roboto-Black.svg") format("svg"), url("fonts/Roboto-Black.ttf") format("truetype"), url("fonts/Roboto-Black.woff") format("woff"), url("fonts/Roboto-Black.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 900; }

/*#endregion */
/*#region SVN Avo */
@font-face {
  font-family: 'SvnAvo';
  src: url("fonts/SVN-Avo.ttf"), url("fonts/SVN-Avo.woff"); }

@font-face {
  font-family: 'SvnAvo';
  src: url("fonts/SVN-Avo bold.ttf"), url("fonts/SVN-Avobold.woff");
  font-weight: bold; }

@font-face {
  font-family: 'SvnAvo';
  src: url("fonts/SVN-Avo italic.ttf"), url("fonts/SVN-Avoitalic.woff");
  font-weight: 100; }

/*#endregion */
/*#region SVN Helvetica Neue */
@font-face {
  font-family: 'SvnHelveticaNeue';
  src: url("fonts/SVN-Helvetica Neue Regular.ttf"), url("fonts/SVN-HelveticaNeueRegular.woff"); }

@font-face {
  font-family: 'SvnHelveticaNeue';
  src: url("fonts/SVN-Helvetica Neue Bold.ttf"), url("fonts/SVN-HelveticaNeueBold.woff");
  font-weight: bold; }

/*#endregion */
/*#region Gotham */
@font-face {
  font-family: 'SvnGotham';
  src: url("fonts/SVN-Gotham Bold.ttf"), url("fonts/SVN-GothamBold.woff");
  font-weight: bold; }

@media screen and (max-width: 1024px) {
  .header__top {
    height: 42px; }
    .header__top ul {
      position: absolute;
      z-index: 9999999999999999999999;
      padding: 0;
      top: 42px;
      min-width: 300px;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .header__top ul li {
        display: block;
        background-color: #f7f3ed; }
        .header__top ul li a {
          color: #333; }
        .header__top ul li.active {
          background-color: #f7f3ed; }
          .header__top ul li.active a {
            color: #333; }
        .header__top ul li:last-child {
          margin: 0; }
  .mslick__info {
    top: 10px;
    width: 100%; }
    .mslick__info p {
      font-size: 30px;
      line-height: 55px; }
    .mslick__info h2 {
      font-size: 45px;
      line-height: 50px;
      margin-bottom: 15px; }
    .mslick__info span {
      max-width: 575px;
      font-size: 25px;
      line-height: 35px;
      margin: auto; }
  .mslick__dots {
    bottom: 25px; }
    .mslick__dots li {
      width: 12px;
      height: 12px; }
  .search {
    min-height: 140px; }
    .search__input {
      padding: 10px 15px;
      min-width: 300px; }
    .search__submit {
      line-height: 42px; }
    .search__label {
      font-size: 16px;
      top: -35px; }
  .foundTour__link {
    font-size: 13px;
    line-height: 64px; }
    .foundTour__link img {
      width: 18px;
      margin-right: 8px; }
  .foundTour__item:hover {
    border-bottom: none; }
  .lastTour__wrap {
    flex-direction: row;
    margin: 0 -15px; }
  .lastTour__post {
    flex-direction: column;
    width: 50%;
    margin: 0 15px 30px; }
    .lastTour__post img {
      border-bottom-left-radius: 0;
      border-top-right-radius: 5px; }
  .lastTour__reverse img {
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px; }
  .lastTour__reverse .lastTour__block {
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0; }
  .lastTour__image {
    width: 100%; }
    .lastTour__image .imgcw:before {
      padding-bottom: 77.1%; }
  .lastTour__block {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px; }
    .lastTour__block a {
      max-height: 30px;
      overflow: hidden; }
  .tour__block {
    margin: auto;
    max-width: 600px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
  .tour__image--big .imgcw:before {
    padding-bottom: 140.74%; }
  .tour__image--small {
    width: 50%; }
    .tour__image--small .imgcw:before {
      padding-bottom: 140.74%; }
  .choose__wrap {
    max-width: 615px;
    margin: auto; }
  .libary__item {
    width: 106px; }
  .footer__bottom {
    max-width: 100%;
    padding: 20px 15px; }
  .footer__column--end {
    margin-left: 160px; }
  .destination__item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
    .destination__item:last-child {
      display: none; }
  .customTour__decs {
    line-height: 24px;
    max-height: 24px;
    overflow: hidden; }
  .review__content {
    padding: 30px 15px;
    width: 100%; }
  .introduce {
    margin-bottom: 20px; }
  .service {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 35px 10px; }
    .service p {
      margin-bottom: 0;
      font-size: 14px; }
  .highlightTour {
    margin-bottom: 30px; }
  .onpost__top {
    padding: 20px 0; }
  .onpost__h2 {
    margin-top: 20px; }
  .onpost__content--img {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .onnews__entry {
    flex-direction: column; }
    .onnews__entry > span {
      margin-bottom: 15px; }
  .onnews__slider .block .content .left {
    font-size: 12px; }
  .onnews__slider .block .content .right {
    font-size: 12px; } }

@media screen and (max-width: 667px) {
  .header__top {
    height: 0; }
    .header__top--btn {
      color: #333;
      top: 15px;
      font-size: 25px; }
  .header__logo {
    padding: 0 15px;
    line-height: 75px; }
  .header__info {
    padding: 20px;
    border-top: 1px dashed #d0d0d0; }
  .foundTour__top {
    background-color: #f6f6f6;
    border: none;
    padding: 10px 0; }
  .foundTour__item {
    width: 46%; }
    .foundTour__item--active {
      border: none; }
  .foundTour__link {
    font-size: 10px;
    line-height: 25px; }
  .foundTour__slick--item {
    min-height: 104px !important; }
    .foundTour__slick--item span {
      display: block;
      text-align: center; }
  .lastTour__wrap {
    flex-direction: column;
    width: 100%; }
  .lastTour__post {
    width: 100%; }
  .tour__image--big {
    width: 100%; }
    .tour__image--big .imgcw:before {
      padding-bottom: 137.77%; }
  .tour__image--small {
    width: 100%; }
    .tour__image--small .imgcw:before {
      padding-bottom: 137.77%; }
  .customTour {
    background-size: cover; }
    .customTour__item {
      margin-bottom: 20px; }
  .destination__item {
    max-width: 100%;
    flex: 0 0 100%; }
  .general__header a {
    font-size: 25px; }
  .choose__wrap {
    max-width: 260px; }
  .review {
    min-height: 470px;
    padding: 50px 0; }
    .review__dots {
      bottom: 33px; }
    .review__content {
      padding: 20px 15px; }
  .footer--fix {
    margin-bottom: 30px;
    max-width: 100%; }
  .footer__column {
    margin-bottom: 0;
    flex-direction: column; }
    .footer__column--end {
      margin-left: 0; }
  .introduce > ul {
    padding: 0; }
  .service {
    flex: 0 0 100%;
    max-width: 100%; }
  .general__back {
    flex-direction: column; }
    .general__back--left {
      margin-bottom: 10px; }
    .general__back--right img {
      width: auto; }
  .onpost__booking--right {
    line-height: 40px;
    padding: 0 30px; }
  .onpost__booking--left {
    min-width: auto; }
  .onpost__tab {
    font-size: 13px;
    line-height: 30px;
    padding: 0 8px; }
    .onpost__tab i {
      padding-right: 0; }
  .onpost__content {
    padding: 15px; }
    .onpost__content--img {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; } }
