﻿@import "font-face";
@import "mixin";
@import "variables";

@media screen and (max-width: 1024px) {
	.header__top {
		height: 42px;
		ul {
			position: absolute;
			z-index: 9999999999999999999999;
			padding: 0;
			top: 42px;
			min-width: 300px;
			@include transform(translateY(20px));
			visibility: hidden;
			opacity: 0;
			@include transition(.3s);
			li {
				display: block;
				background-color: #f7f3ed; 
				a { color: #333 }
				&.active { background-color: #f7f3ed; a { color: #333 }}
				&:last-child { margin: 0 }
			}
		}
	}
	.mslick {
		&__info { 
			top: 10px; 
			width: 100%;
			p { font-size: 30px; line-height: 55px; }
			h2 { font-size: 45px; line-height: 50px; margin-bottom: 15px; }
			span { max-width: 575px; font-size: 25px; line-height: 35px; margin: auto; }
		}
		&__dots {
			bottom: 25px;
			li { width: 12px; height: 12px; }
		}
	}
	.search {
		min-height: 140px;
		&__input { padding: 10px 15px; min-width: 300px; }
		&__submit { line-height: 42px; }
		&__label { font-size: 16px; top: -35px; }
	}
	.foundTour {
		&__link { font-size: 13px; line-height: 64px; img { width: 18px; margin-right: 8px } }
		&__item:hover { border-bottom: none }
	}
	.lastTour {
		&__wrap { flex-direction: row; margin: 0 -15px }
		&__post { 
			flex-direction: column; 
			width: 50%; 
			margin: 0 15px 30px; 
			img { border-bottom-left-radius: 0; border-top-right-radius: 5px }
		}
		&__reverse {
			img { border-bottom-right-radius: 0; border-top-left-radius: 5px }
			.lastTour__block { border-bottom-right-radius: 5px; border-top-left-radius: 0; }
		}
		&__image { width: 100%; .imgcw:before { padding-bottom: 77.1% } }
		&__block { width: 100%; border-top-right-radius: 0; border-bottom-left-radius: 5px; a { max-height: 30px; overflow: hidden}}
	}
	.tour {
		&__block { margin: auto; max-width: 600px; border-top-right-radius: 0; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px }
		&__image {
			&--big .imgcw:before { padding-bottom: 140.74% }
			&--small { width: 50%; .imgcw:before { padding-bottom: 140.74% }}
		}
	}
	.choose__wrap { max-width: 615px; margin: auto }
	.libary__item { width: 106px }
	.footer {
		&__bottom { max-width: 100%; padding: 20px 15px }
		&__column--end { margin-left: 160px }
	}
	.destination {
		&__item { 
			-ms-flex: 0 0 50%; 
			flex: 0 0 50%; max-width: 50%;
			&:last-child { display: none }
		}
	}
	.customTour__decs { line-height: 24px; max-height: 24px; overflow: hidden }
	.review__content { padding: 30px 15px; width: 100% }
	.introduce { margin-bottom: 20px }
	.service {
		flex: 0 0 50%;
		max-width: 50%;
		padding: 35px 10px;
		p { margin-bottom: 0; font-size: 14px }
	}
	.highlightTour { margin-bottom: 30px }
	.onpost {
		&__top { padding: 20px 0 }
		&__h2 { margin-top: 20px }
		&__content--img { -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333% }
	}
	.onnews {
		&__entry { 
			flex-direction: column; 
			& > span { margin-bottom: 15px } 
		}
		&__slider .block .content {
			.left { font-size: 12px }
			.right { font-size: 12px }
		}
	}
}

@media screen and (max-width: 667px) {
	.header {
		&__top { 
			height: 0; 
			&--btn { color: #333; top: 15px; font-size: 25px }
		}
		&__logo { padding: 0 15px; line-height: 75px }
		&__info { padding: 20px; border-top: 1px dashed #d0d0d0 }
	}
	.foundTour {
		&__top { background-color: #f6f6f6; border: none; padding: 10px 0 }
		&__item { width: 46%; &--active { border: none } }
		&__link { font-size: 10px; line-height: 25px }
		&__slick--item {
			min-height: 104px!important;
			span { display: block; text-align: center }
		}
	}
	.lastTour {
		&__wrap { flex-direction: column; width: 100% }
		&__post { width: 100% }
	}
	.tour {
		&__image {
			&--big {
				width: 100%;
				.imgcw:before { padding-bottom: 137.77% }
			}
			&--small { width: 100%; .imgcw:before { padding-bottom: 137.77% }}
		}
	}
	.customTour {
		background-size: cover;
		&__item { margin-bottom: 20px }
	}
	.destination__item { max-width: 100%; flex: 0 0 100% }
	.general__header a { font-size: 25px }
	.choose__wrap { max-width: 260px }
	.review { 
		min-height: 470px; 
		padding: 50px 0; 
		&__dots { bottom: 33px }
		&__content { padding: 20px 15px }
	}
	.footer {
		&--fix { margin-bottom: 30px; max-width: 100% }
		&__column { 
			margin-bottom: 0; 
			flex-direction: column;
			&--end { margin-left: 0 }
		}
	}
	.introduce > ul { padding: 0 }
	.service { flex: 0 0 100%; max-width: 100%; }
	.general__back { 
		flex-direction: column;
		&--left { margin-bottom: 10px }
		&--right img { width: auto }
	}
	.onpost {
		&__booking {
			&--right { line-height: 40px; padding: 0 30px }
			&--left { min-width: auto }
		}
		&__tab { font-size: 13px; line-height: 30px; padding: 0 8px; i { padding-right: 0 } }
		&__content {
			padding: 15px;
			&--img { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%}
		}
	}
}