﻿.onnews {
	&__post {
		margin-bottom: 30px;
		.imgcw:before { padding-bottom: 66.21% }
		&--title { font-weight: bold; color: #333; display: block; line-height: 24px; margin-top: 10px }
		span { color: $color-gray-fade; line-height: 26px; padding: 2px 0 5px }
		p { color: $color-gray-primary; margin-bottom: 0 }
	}
	&__h2 { font-weight: bold; font-size: 25px; color: $color-orange-primary; text-transform: uppercase; padding: 36px 0 12px }
	&__entry { 
		display: flex; 
		justify-content: space-between; 
		align-content: center;
		border-bottom: 1px solid #c9c9c9;
		padding: 5px 0;
		margin-bottom: 25px;
		span { font-size: 14px; color: $color-gray-fade; }
		img { width: auto }
		&--btn {
			line-height: 1;
			padding: 0 8px 0 15px;
			button { cursor: pointer; border: none; border-radius: 5px; background-color: #c9c9c9; font-size: 9px; color: $color-gray-fade; line-height: 18px; width: 20px }
		}
	}
	&__content {
		h3 { 
			font-size: 20px; 
			color: $color-orange-primary; 
			font-weight: bold; 
			margin: 25px 0 20px;
			img { width: auto; margin-right: 15px; position: relative; top: -3px } 
		}
		figcaption { font-style: italic; text-align: center; padding: 0 0 10px; color: $color-orange-primary }
		&--wrap { display: flex; flex-wrap: wrap; margin: 0 -10px }
		&--imgs { 
			-ms-flex: 0 0 50%; 
			flex: 0 0 50%; 
			max-width: 50%; 
			padding: 0 10px 20px;
			.imgcw:before { padding-bottom: 73.33333% }
		}
		&--imgb {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			padding-bottom: 20px;
			.imgcw:before { padding-bottom: 57.14% }
		}
	}
	&__more {
		padding: 0 0 80px;
		.slick-list { margin: 0 -15px }
		.slick-slide { margin: 0 15px }
		.slick-arrow {
			position: absolute;
			z-index: 999;
			top: -42px;
			right: 0;
			border: 1px solid #dbdbdb;
			background: none;
			color: #666;
			font-size: 14px;
			line-height: 30px;
			width: 38px;
			cursor: pointer;
			@include transition(.3s);
			&:hover { background-color: #dbdbdb; color: #fff }
		}
		.slick-prev { right: 48px }
	}
	&__slider {
		padding: 20px;
		background-color: #f6f6f6;
		position: relative;
		.slick-arrow {
			position: absolute;
			z-index: 999;
			top: -50px;
			right: 0;
			border: 1px solid #dbdbdb;
			background: none;
			color: #666;
			font-size: 14px;
			line-height: 30px;
			width: 38px;
			cursor: pointer;
			@include transition(.3s);
			&:hover { background-color: #dbdbdb; color: #fff }
		}
		.slick-prev { right: 48px }
		.block {
			position: relative;
			color: #fff;
			margin-bottom: 20px;
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				width: 100%;
				z-index: 9;
				background-image: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,0));
				height: 100px;
			}
			.imgcw:before { padding-bottom: 66.56% }
			h2 > a { 
				color: #fff;
				z-index: 99; 
				font-size: 20px; 
				font-weight: bold; 
				position: absolute; 
				top: 50%; 
				left: 50%; 
				@include transform(translate(-50%, -50%));
				 width: 100%;
				max-width: 230px;
				text-align: center; 
			}
			.content {
				z-index: 99;
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 6px 10px;
				.left { font-weight: bold; font-size: 16px; }
			}
		}
	}
}
