﻿.introduce {
	color: #555;
	&--white { color: #fff }
	&__slick .imgcw:before { padding-bottom: 66.66% }
	p { line-height: 30px }
	& > ul {
		margin-top: 20px;
		li { line-height: 30px; i { color: $color-orange-primary; padding-right: 5px } }
	}
	&--padding { padding: 55px 0 }
	&--padding2 { padding: 30px 0 55px }
}

.service {
  padding: 40px 20px;
	flex: 0 0 25%;
  position: relative;
  width: 100%;
  max-width: 25%;
	text-align: center;
	p { text-align: center; font-size: 18px; font-weight: bold }
	&--1 { background-color: #f7f9fb }
	&--2 { background-color: #f0f5f8 }
	&--3 { background-color: #e8eff4 }
	&--4 { background-color: #e0eaf0 }
	.circle {
		display: inline-block; 
		position: relative;
		line-height: 0;
		margin-bottom: 30px;
		strong {
			position: absolute; 
			z-index: 9; 
			top: 50%; 
			left: 50%;     
			transform: translate(-50%, -50%);
			color: #034f84;
			font-size: 40px;
			font-weight: normal;
		}
		&:after {
			content: '';
			width: 166px;
			height: 166px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: transparent;
			border: 1px solid red;
			border-radius: 50%;
		}
	}
}

.video {
	background: url(pic/gt-background-01.jpg) no-repeat center;
	background-size: cover;
	padding: 25px 0 80px;
	&__play {
		width: 100%;
    margin-top: 35px;
		position: relative;
		.imgcw:before { padding-bottom: 65.26% }
		&:after {
			content: '\f04b';
			position: absolute;
			z-index: 9999;
			color: #fff;
			font-family: FontAwesome;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 25px;
			padding: 15px 24px;
			border: 1px solid;
			border-radius: 50%;
		}
	}
}

.highlightTour {
	.imgcw:before { padding-bottom: 67.40% }
	&__abs {
		position: relative;
		p {
			width: 100%;
			bottom: 0;
			position: absolute;
			z-index: 9;
			margin-bottom: 0;
			padding: 8px 15px;
			color: #fff;
			font-weight: bold;
			font-size: 18px;
		}
		&:before {
			content: '';
			background-image: linear-gradient(to top,#1b1b1b,transparent);
			width: 100%;
			position: absolute;
			height: 50px;
			z-index: 9;
			bottom: 0;
			left: 0;
		}
	}
}